@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800;900&family=Lora:wght@400;500;600;700&display=swap');
:root{
    --palepurple: #ebddfb;
    --tropical-indigo: #998dde;
    --lavander: #c984ec;
    --rebeca-purple: #52329e;
    --iris: #6c4dc8;
    --slate-blue: #795dcd;

    --lora: "Lora", sans-serif;
    --inter: "Inter", sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    max-width: 100%;
}


*, :root{
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

header{
    background-image: url('imagens/home.jpg');
    background-position: center fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-header{
    padding: 2rem 3rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-family: var(--lora);
    font-weight: 700;
    font-size: 45px;
    color: var(--rebeca-purple);
    letter-spacing: 2px;
}

.logo span{
    color: var(--tropical-indigo);
}

.nav ul{
    display: flex;
    align-items: center;
    gap: 70px;
}

.nav ul li a{
    font-family: var(--inter);
    color: var(--palepurple);
    letter-spacing: 2px;
    font-weight: 500;
    letter-spacing: 2px;
    cursor: pointer;
    transition: .5s;
}

.nav ul li a:hover{
    color: var(--slate-blue);
    font-weight: 700;
}

.btn-contato{
    background-color: var(--palepurple);
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    color: var(--iris);
    font-weight: 700;
    font-family: var(--inter);
    letter-spacing: 2px;
    cursor: pointer;
    transition: .5s;
    
}

.btn-contato:hover{
    background-color: var(--rebeca-purple);
    color: var(--palepurple);
}

.container-inicio{
    padding: 2rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-inicio h3{
    font-family: var(--inter);
    font-size: 30px;
    color: var(--rebeca-purple);
}

.text-inicio h1{
    font-family: var(--lora);
    font-size: 45px;
    fon
}

.img img{
    width: 500px;
    height: 500px;
    border-radius: 50%;
}